.landing {
}
.freescreen {
  padding: 62px 0 0 0;
}
.scrollable {
  padding: 40px 0 0 0;
}
.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .left-container {
    display: flex;
    align-items: center;
    gap: 19px;
    .days {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px 18px;
      background: $color-orange;
      border-radius: 14px;
      font-size: 18px;
      color: $color-white;
    }
  }
  .right-container {
    display: flex;
    align-items: center;
    gap: 8px;
    color: $color-green;
    cursor: pointer;
    .menu {
      font-weight: bold;
    }
    .hamburguer {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2px;

      .hamburguer-arrow {
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
      }

      span {
        height: 3px;
        width: 8px;
        background: $color-green;
      }
      .line {
        width: 15px;
      }
    }
  }
  .logo {
    height: 44px;
    width: 44px;
    padding: 2px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    > img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
    &.logo-green {
      background: $color-green;
    }
    &.logo-white {
      background: $color-white;
    }
  }
}

//app nav bar

.app-nav-bar {
  position: fixed;
  inset: 0;
  background: $color-green;
  z-index: 200;
  padding-top: 62px;
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .routes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .route {
      padding: 14px 24px;
      border-radius: 10px;
      background: $color-white;
      color: $color-green;
      font-weight: bold;
    }
  }
  .logout-container {
    display: flex;
    justify-content: flex-end;
    button {
      text-decoration: underline;
      color: $color-white;
    }
  }
}
//dashboard screen
.dashboard {
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }

  .rooms {
    display: flex;
    flex-direction: column;
    gap: 100px;
    @include breakpoint-desktop-small {
      gap: 129px;
      margin-top: 100px;
    }
  }
  .room {
    padding: 10px;
    height: 171px;
    @include breakpoint-desktop-small {
      height: 344px;
    }
    border-radius: 10px;
    display: flex;
    background: $color-green;
    position: relative;
    &:nth-child(odd) {
      justify-content: flex-end;
    }
    > img {
      position: absolute;

      height: calc(100% + 50px);
      @include breakpoint-desktop-small {
        height: calc(100% + 100px);
      }
      width: 100%;
      object-fit: cover;
      bottom: 0;
      left: 0;
    }
    .room-title {
      font-size: 27px;
      font-weight: bold;
      color: $color-white;
      word-wrap: break-word;
    }
    .room-subtitle {
      position: absolute;
      bottom: -30px;
      left: 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .room-subtitle-button {
      padding: 13px 30px;
      background: $color-orange;
      font-size: 18px;
      font-weight: bold;
      color: $color-white;
      border-radius: 30px;
      text-transform: uppercase;
    }
  }
}
.lesson {
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .image-container {
    height: 20vh;

    @include breakpoint-desktop-small {
      height: 30vh;
    }
    width: 100%;

    border-radius: 10px;
    position: relative;
    > img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      position: absolute;
      inset: 0;
      z-index: -1;
    }
  }
  .question {
    font-size: 20px;
  }
  .options {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .option {
    display: flex;

    padding: 16px 42px;
    gap: 12px;
    background: $color-green-light;
    border-radius: 10px;
    font-size: 16px;
    .option-container {
      text-align: left;
    }
    &.active {
      background: $color-green;
    }
    &.error {
      background: $color-red;
      color: $color-white;
    }
    &.correct {
      background: $color-green;
      color: $color-white;
    }

    .letter {
      font-size: 20px;
      font-weight: bold;
    }
  }
  .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    > button {
      display: flex;
      align-items: center;
      gap: 5px;
      &.next {
        background: transparent;
        border-radius: 24px;
        padding: 16px 12px;
        &.active {
          background: $color-green-light;
        }
      }
    }
  }
}

//result modal
.modal {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  position: fixed;
  background: $color-white;
  color: $color-green;
  inset: 0;
  z-index: 100;
  height: 100%;
  overflow-y: scroll;
  padding: 40px 0 0 0;

  .wrapper-result {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .header-result {
    display: flex;

    flex-direction: column;
    > h1 {
      text-transform: uppercase;
      font-size: 18px;
    }
    gap: 15px;
    .congrats-image {
      height: 25vh;
      width: 100%;
      background: $color-red;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      text-align: center;
      > h1 {
        color: $color-white;
        text-transform: uppercase;
        font-size: 18px;
      }
    }
  }
  .share {
    display: flex;
    align-items: center;
    justify-content: space-between;
    > button {
      text-decoration: underline;
    }
  }
  .try-container {
    display: flex;
    align-items: center;
    gap: 14px;
    .try {
      padding: 18px 30px;
      background: $color-orange;
      border-radius: 24px;
      text-transform: uppercase;
      color: $color-white;
    }
    .out {
      color: $color-black;
      text-decoration: underline;
    }
  }
}

//login screen
.login {
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 40px 0;
  }
  span {
    font-size: 18px;
    color: $color-green;
  }
  .login-form {
    display: flex;
    flex-direction: column;

    margin-top: 50px;
    gap: 37px;
  }
  .login-inputs {
    display: flex;
    flex-direction: column;
    gap: 5px;

    input {
      background: $color-green-light;
      color: $color-green;
      padding: 15px 23px;
      border-radius: 10px;
      width: 100%;
    }
    input::placeholder {
      color: $color-black;
      opacity: 0.3;
    }
  }
  .fill-container {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
  .google-button {
    background: $color-green-light;
    color: $color-green;
    padding: 17px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    color: $color-black;
  }
  .login-button-container {
    display: flex;
    justify-content: flex-end;
    button {
      padding: 10px 30px;
      background: $color-orange;
      color: $color-white;
      text-transform: uppercase;
      border-radius: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .login-signup {
    font-size: 16px;
    > a {
      text-decoration: underline;
    }
  }
}

//profile screen
.profile {
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 16px;
  }
  .avatar-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .avatar {
    height: 110px;
    width: 110px;
    @include breakpoint-desktop-small {
      height: 200px;
      width: 200px;
    }
    border-radius: 50%;
    border: 5px solid $color-green;
    @include breakpoint-desktop-small {
      border: 10px solid $color-green;
    }
    position: relative;

    > img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  .avatar-edit {
    position: absolute;
    bottom: 0;
    height: 34px;
    width: 34px;
    @include breakpoint-desktop-small {
      height: 60px;
      width: 60px;
    }
    right: -10px;
    background: $color-green;
    color: $color-white;
    font-size: 20px;
    @include breakpoint-desktop-small {
      font-size: 40px;
    }
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
  }
  span {
    font-size: 18px;
    color: $color-green;
  }
  .profile-form {
    display: flex;
    flex-direction: column;

    margin-top: 50px;
    gap: 37px;
  }
  .profile-inputs {
    display: flex;
    flex-direction: column;
    gap: 5px;

    input {
      color: $color-green;
      height: 100%;
      width: 100%;
    }
    input::placeholder {
      color: $color-black;
      opacity: 0.3;
    }
  }
  .input {
    display: flex;
    align-items: center;
    background: $color-green-light;
    color: $color-green;
    padding: 15px 23px;
    border-radius: 10px;
    width: 100%;
    &.active {
      border: 1px solid $color-orange;
    }
  }
  .fill-container {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
  .profile-button-container {
    display: flex;
    justify-content: flex-end;
    button {
      padding: 10px 30px;
      background: $color-orange;
      color: $color-white;
      text-transform: uppercase;
      border-radius: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.modal-presences {
  position: fixed;
  inset: 0;
  background-color: rgba($color: #000000, $alpha: 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  .modal-presences-content {
    background: $color-white;
    min-height: 10px;
    width: 90%;
    @include breakpoint-desktop-small {
      width: 33%;
    }
    padding: 1rem;
    border-radius: 10px;
    @include breakpoint-desktop-small {
      min-height: 33%;
    }
  }
  .modal-presences-content-of-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    text-align: center;
    .lottie {
      height: 160px;
      width: 160px;
    }
  }
}
.modal-background-button {
  position: fixed;
  inset: 0;
  z-index: -10;
  cursor: pointer;
}

//payment screen
.payment {
  .fill-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .payment-inputs {
    display: flex;
    flex-direction: column;
    gap: 5px;

    input {
      background: $color-green-light;
      color: $color-green;
      padding: 15px 23px;
      border-radius: 10px;
      width: 100%;
    }
    input::placeholder {
      color: $color-black;
      opacity: 0.3;
    }
  }
  .get-access-button {
    padding: 10px 30px;
    background: $color-orange;
    color: $color-white;
    text-transform: uppercase;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .other-number {
    color: $color-green;
    text-decoration: underline;
  }
}

.loading-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  height: 100vh;
  overflow: hidden;
}
.loadings {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  inset: 0;
  z-index: 400;
  background-color: rgba($color: #000000, $alpha: 0.4);
  color: $color-green;

  .wrapper {
    padding: 10px;
  }
}

.modal-free-alert {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  > button {
    padding: 12px 24px;
    background: $color-orange;
    border-radius: 10px;
    color: $color-white;
  }
}
