footer {
  background: $color-green;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $color-white;
  font-weight: bold;
  padding: 20px 0;
  a {
    text-decoration: underline;
    margin: 0 10px 0 10px;
  }
}
